.text-center {
    text-align: center;
}

.name {
    text-transform: capitalize;
}

.title {
    font-family: "GothamRoundedBook",Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: #333333;
}

.courses {
    font-family: "GothamRoundedBook",Helvetica,Arial,sans-serif;
    font-size: 18px;
    color: #333333;
    text-transform: capitalize;
}

img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.img-circle {
    width: 40%;
    height: 40%;
    border-radius: 50%;
}
