@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">

    <div>
        <h1>Test Automation</h1>
        <h3>Codeception/Selenium Webdriver Framework</h3>

        <h2>Advantages</h2>
        <h4>Open source ; So no licensing costs</h4>
        <h4>Power of Crowd ; Never short of skilled developers to build , maintain and troubleshoot your automation framework</h4>
        <h4>A behavior driven development framework that encourages the clarity of the requirements and test cases to be automated</h4>
        <h4>Fast delivery and Feedback ; Witness a fully functional automation framework for your product within 2 weeks.</h4>

        <h2>Capability</h2>
        <h4>Virtual capability of 50 skilled NZ based testers</h4>
        <h4>25 open source automation developers based in India, Italy and Australia.</h4>
        <h4>A New Zealand based system Team to test the automation framework before the client delivery</h4>
        <h4>Automation framework deployment on Amazon ec2 cloud infrastructure set up as per your requirements</h4>

        <h2>Codeception Reports</h2>
        <img src="~/images/testautomation/CodeceptionResults.png"/>
        <hr/>

        <h2>Test Example</h2>
        <img src="~/images/testautomation/TestExample.png"/>
        <hr/>

        <h2>Tools: Bitbucket</h2>
        <h4>source code management </h4>
        <img src="~/images/testautomation/BitBucket.png" />
        <hr />

        <h2>Tracking with Trello</h2>
        <img src="~/images/testautomation/Trello.png" />
        <hr />

        <h2>Report on bamboo server</h2>
        <img src="~/images/testautomation/BambooServer.png" />
        <hr />

        <a href="https://www.youtube.com/watch?v=vhwdSaqoZdU"><h2>About Getskills</h2></a>
        <h4>Founded in 2013</h4>
        <h4>Delivered a software testing upskilling program for WINZ</h4>
        <h4>International software testing qualification and Australia NZ Testing board accredited training provider</h4>
        <h4>Provide Open source Test Automation and CI Trainings</h4>
        <h4>Provided Open source test automation and CI solutions to NZ financial and retail companies</h4>
        <h4>Currently working on a few Pilots and POCs</h4>
    </div>
</div>