@model IEnumerable<GetSkills.Models.success_story>

@{
    ViewBag.Title = "List";
}

<h2>Success Story List</h2>

@foreach (var item in Model)
{
    <div class="container-fluid marketing">
        <!-- START THE FEATURETTES -->
        <div class="row featurette">
            <div class="col-sm-7">
                <h1>@Html.DisplayFor(modelItem => item.brief)</h1>
                <p class="lead featurette-description">
                    @Html.DisplayFor(modelItem => item.detail_description)
                </p>
            </div>
            <div class="col-sm-5">
                <img class="featurette-image img-responsive center-block"
                     src="@Url.Content(item.pic)"
                     alt="Generic placeholder image">
                
            </div>
        </div>
        <hr class="featurette-divider">
        <!-- /END THE FEATURETTES -->
    </div><!-- /.container -->
}
