@model IEnumerable<GetSkills.Models.success_story>

@{
    ViewBag.Title = "List";
}


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="#"><h4>Overview</h4></a></li>
                <li><a href="#">Kiwi</a></li>
                <li><a href="#">Resident</a></li>
                <li><a href="#">Student</a></li>
                <li><a href="#">Immigrant</a></li>
            </ul>
        </div><!-- /.sidebar -->
        <div class="col-sm-9">
            @foreach (var item in Model)
            {
                <!-- START THE FEATURETTES -->
                <hr class="featurette-divider">
                <div class="row featurette">
                    <div class="col-md-7">
                        <!--h1>@Html.DisplayFor(modelItem => item.brief)</!--h1>-->
                        <h1>@Html.ActionLink(item.brief, "Detail", new { id = item.success_story_id })</h1>
                        <p class="lead featurette-description">
                            @Html.DisplayFor(modelItem => item.detail_description)
                        </p>
                    </div>
                    <div class="col-md-5">
                        <img class="featurette-image img-responsive center-block"
                             src="@Url.Content(item.pic)"
                             alt="Story teller's portrait img">
                    </div>
                </div>
                <!-- /END THE FEATURETTES -->
            }
        </div>
    </div><!-- /.row -->
</div><!-- /.container -->
