body {
	margin-top: 50px; /* Required margin for .navbar-fixed-top. 
						Remove if using .navbar-static-top. 
						Change if height of navigation changes. */
	background-color: #DFDFDF;
}

.footer {
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #C2C2C2;
}

.footer-btn-group {
	margin-top: 10px;
	margin-bottom: 10px;
}

.logo-tiny {
	margin-right: 5px;
	margin-left: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 40px;
	height: 40px;
}