
.site-map {
	padding-bottom: 40px;
}

.back-to-top {
	width: 48px;
	height: 48px;
}

.business-partners {
	background: #4F7CAC;
	color: #FFFFFF;
	padding: 50px;
}

.business-partners h1 {
	padding-bottom: 40px;
}

.business-partners .partners-logo {
	max-width: auto;
	max-height: 80px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}