
/* CUSTOMIZE THE FOOTER
-------------------------------------------------- */
footer {
  position: relative;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 240px;
  clear:both;
  background-color: #222;
}

.business-partners {
	background: #4F7CAC;
	color: #FFFFFF;
	padding: 50px;
}

.business-partners h1 {
	padding-bottom: 40px;
}

.business-partners .partners-logo {
	max-width: auto;
	max-height: 80px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.site-map {
    margin-bottom: 40px;
}

.site-map a {
    color: inherit;
    text-decoration: none; /* no underline */
}

.copyright {
    padding-top: 20px;
    bottom: 0;
}

.copyright a {
    color: inherit;
}