@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">

    <hr class="featurette-divider">

    <div>
        <h1>FAQ</h1>
    </div>

    <div class="row">

        <div class="blog-post">

            <h3>What are the system requirements to start online tutoring? (Computer, writing pad)</h3>
            <p>To get online tutoring, you need a computer with a broadband connection. Special equipment 
            or software is not needed. You may use a digital writing pad but it is not mandatory.You can 
            write and draw pictures on the whiteboard effectively with digital pen. You can write /draw 
            with a mouse as well.In any case our tutors use it to explain every concept.</p>
            
            <h3>Do I have to download any software before I start my tutoring sessions?</h3>
            <p>Our tutoring sessions are conducted using our virtual classroom which has all built in functionalities. 
            You will only require the Flash player to be installed on your computer</p>

            <h3>Is it always one on one tutoring?</h3>
            <p>getskills provide completely personalized instruction to every student. 
            Students learn one-on-one with an expert tutor who gives the student 100% attention.</p>
            
            <h3>Do I get the same tutor every session?</h3>
            <p>Yes, we ensure that the same tutor is assigned everytime. This means a student can continue learning 
            with the same tutors time and again. The tutors will better understand the student's needs, learning styles, 
            and what approaches and techniques work best for that individual student. This will give the student 
            a greater continuity of experience and ensure an even more personalized learning environment.</p>
            
            <h3>Is it convenient ?</h3>
            <p>You get high-quality; live one-on-on tutoring from the convenience of your home. 
            No leaving your home, no more tutors at your house, parents need not be present at home and convenient timings.</p>

            <h3>How do you compare 'getskills' with learning centers or private tutoring?</h3>
            <p>Getting qualified and committed private tutors at home is becoming difficult and expensive day by day. 
            In addition you can see recorded sessions again and again in case you missed out something or purely for revision. 
            At learning centers or group tuitions personalized attention is totally absent.</p>

            <h3>How easy is it to use 'getskills' services?</h3>
            <p>getskills is very easy to use.The student logs in and initiates a tutoring session. 
            The student and tutor communicate using an online whiteboard that is easy and intuitive 
            to use - they can write, type, chat or draw on it, with both of them watching what is 
            being written or drawn. We would also recommend a digital writing pad that makes it easy 
            for the student to write and draw on the whiteboard. You can buy the digital pad online 
            from Amazon.com or from us.</p>

            <h3>To what extent 'getskills' will imrove the performance of the student ?</h3>
            <p>What matters in studies most is consistency and regularity . We assure that our tutoring 
            sessions are very effective and you can measure the student’s progress over the time after 
            the initial assessments. You will see a noticeable improvements in grades, percentage in exams.</p>

            <h3>What if the class gets cancelled?</h3>
            <p>Admin can reschedule the class for you, provided it is not very frequent. We would appreciate 
            if you intimate about it at least 48 hours in advance. But we will ensure that the student is not at loss.</p>

            <h3>What are the payment methods?</h3>
            <p>You can pay online through PayPal.</p>

            <h3>Can I change my timetable?</h3>
            <p>Yes, You can talk to Admin regarding change of timetable.</p>

            <h3>Can I review my previous sessions?</h3>
            <p>Yes you can replay all your previous sessions in 'my classroom' itself.</p>

            <h3>Will the tutor be same for throughout the course?</h3>
            <p>Yes, But you can request for a new tutor if needed.</p>

            <h3>Can I get the tutors for odd subjects like Biochemistry or Spanish language ?</h3>
            <p>Yes. We can definitely help you. You can request customer care regarding this.</p>

            <h3>Can I see my purchase history?</h3>
            <p>Yes, In 'my classroom' itself .</p>

            <h3>Who are the 'getskills.co.nz's tutors and where are they based?</h3>
            <p>"getskills.co.nz' works with teaching professionals, including certified teachers, 
            retired teachers, teaching assistants, professors, and others who are passionate about 
            teaching one or more of our subject areas."</p>

            <h3>Are background checks performed on all tutors?</h3>
            <p>Yes, because we take education and safety seriously, getskills.co.nz screens prospective 
            tutors to ensure we enlist well-qualified professionals who are passionate about teaching 
            one or more of our subject areas. Before any tutor is invited to be a part of getskills.co.nz’s 
            faculty, we perform background checks.</p>

            <h3>Are the sessions monitored? By whom and how often?</h3>
            <p>Yes, our administrative Web team routinely monitors tutoring sessions on a daily basis.</p>

            <h3>If we accidentally miss a scheduled session, will we be charged?</h3>
            <p>No, however we strongly encourage stud ents to arrive on-time for scheduled session.</p>

            <h3>Can a specific tutor be requested for next educational year?</h3>
            <p>Yes, You can request it before scheduling new course sessions. However, if that tutor is not available, 
            you will be paired with the next available tutor that meets your needs.</p>

            <h3>Is it necessary to purchase the textbook before a session?</h3>
            <p>No, However, it may be beneficial if the student plans to continuously request tutoring sessions 
            in the same subject area. When the tutor and student can work from the same book, better results may occur.</p>
        </div><!-- /.blog-post -->

    </div><!-- /.row -->

</div><!-- /.container -->