
@{
    ViewBag.Title = "Index";
}
<!-- Carousel-->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <!--
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>-->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img class="first-slide img-responsive" src="~/images/student_01.jpg" alt="First slide">
            <div class="container">
                <div class="carousel-caption">
                    <div class="row">
                        <div class="col-sm-6">
                            <h1>Hear From Others</h1>
                            <p>Here you can find other people's stories, checkout how they succeed in finding jobs!</p>
                            <p><a class="btn btn-lg btn-primary" href="/SuccessStory/List" role="button">Success Stories</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>-->
</div><!-- /.carousel -->
<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

    <!-- START THE FEATURETTES -->
    <div class="row featurette">
        <div class="col-sm-9">
            <a href="/TestAutomation/Index">
                <h1>Test Automation</h1>
            </a>
            <a href="/TestAutomation/Index">
                <p class="lead featurette-description">
                    Codeception/Selenium Webdriver Framework<br />
                    Open source ; So no licensing costs.
                    Power of Crowd ; Never short of skilled developers to build ,
                    maintain and troubleshoot your automation framework.
                    A behavior driven development framework that encourages the
                    clarity of the requirements and test cases to be automated.
                    Fast delivery and Feedback ; Witness a fully functional
                    automation framework for your product within 2 weeks
                </p>
            </a>
        </div>
        <div class="col-xs-3 hidden-xs">
            <img class="featurette-image img-responsive center-block"
                 src="~/images/ISTQB Accred Training Provider.jpeg"
                 alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    <img class="img-responsive" src="~/images/shutterstock_242224885.jpg" alt="IT Recruitment" />

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-sm-8">
            <h1>IT recruitment</h1>
            <p class="lead">
                Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula
                porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur.
                Fusce dapibus, tellus ac cursus commodo.
            </p>
        </div>
        <div class="col-sm-4">
            <img class="featurette-image img-responsive center-block"
                 src="~/images/recruitment_hr.jpg"
                 alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">
    <!-- /END THE FEATURETTES -->
</div><!-- /.container -->
<!-- Three columns of text below the carousel -->
<div class="container-fluid business-partners">
    <h1>Our Partners</h1>
    <div class="row text-center">
        <div class="col-sm-4">
            <img class="img-responsive partners-logo"
                 src="~/images/ISTQB International_original.jpeg"
                 alt="Generic placeholder image">
            <h2>ISTQB</h2>
        </div><!-- /.col-lg-4 -->
        <div class="col-sm-4">
            <img class="img-responsive partners-logo"
                 src="~/images/ANZTB_Logo.jpg"
                 alt="Generic placeholder image">
            <h2>ANZTB</h2>
        </div><!-- /.col-lg-4 -->
        <div class="col-sm-4">
            <img class="img-responsive partners-logo"
                 src="~/images/logo0.jpg"
                 alt="Generic placeholder image">
            <h2>ELITE</h2>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
</div>


