<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://getskillslab.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>getskillslab.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>GetSkillsLab</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$GetSkillsLab</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="GetSkillsEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=au-cdbr-azure-southeast-a.cloudapp.net;Initial Catalog=getskills;Persist Security Info=True;User ID=b85d7c5f126370;Password=90bee791" Name="server=au-cdbr-azure-southeast-a.cloudapp.net;user id=b85d7c5f126370;persistsecurityinfo=True;password=90bee791;database=getskills" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="GetSkills.Models.GetSkillsEntities, GetSkills" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=au-cdbr-azure-southeast-a.cloudapp.net;Initial Catalog=getskills;Persist Security Info=True;User ID=b85d7c5f126370;Password=90bee791" Name="server=au-cdbr-azure-southeast-a.cloudapp.net;user id=b85d7c5f126370;persistsecurityinfo=True;password=90bee791;database=getskills" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-GetSkills-20150910113325.mdf;Initial Catalog=aspnet-GetSkills-20150910113325;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-GetSkills-20150910113325.mdf;Initial Catalog=aspnet-GetSkills-20150910113325;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>server=au-cdbr-azure-southeast-a.cloudapp.net;user id=b85d7c5f126370;persistsecurityinfo=True;password=90bee791;database=getskills</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)GetSkillsEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.GetSkills.csdl|res://*/Models.GetSkills.ssdl|res://*/Models.GetSkills.msl;provider=System.Data.SqlClient;provider connection string="server=au-cdbr-azure-southeast-a.cloudapp.net;user id=b85d7c5f126370;persistsecurityinfo=True;password=90bee791;database=getskills"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>